<div class="container-fluid">
    <div>
        <h3>{{data ? "Editar usuário" : "Criar usuário"}}</h3>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()"
            class=" d-flex flex-column align-items-center justify-content-center">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" placeholder="Digite o nome">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nível</mat-label>
                <mat-select formControlName="level">
                    <mat-option *ngFor="let option of userLevelOption" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button class="button-primary mx-3" type="submit" [disabled]="!userForm.valid">Salvar</button>
            </div>

        </form>
    </div>
</div>