$primary: #96c766;
$primary-dark: #7caf49;
$primary-light: #c7f39b;

$danger-light: #e74d55;
$danger: #DA1E28;
$danger-dark: #A8141C;

$success: #148A00;
$success-dark: #0f5c01;

$warning: #FFD912;

$alert: #F15B2B;
$alert-dark: #cc4619;

$gray: #C2C2C2;
$gray-dark: #999999;
